[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = QtWebKit development repository
[access "refs/*"]
	owner = group user/Konstantin Tokarev (annulen)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Konstantin Tokarev (annulen)
	label-Verified = -1..+1 group user/Konstantin Tokarev (annulen)
	push = group user/Konstantin Tokarev (annulen)
	read = group user/Konstantin Tokarev (annulen)
	rebase = group user/Konstantin Tokarev (annulen)
	removeReviewer = group user/Konstantin Tokarev (annulen)
	submit = group user/Konstantin Tokarev (annulen)
[access "refs/heads/*"]
	create = group user/Konstantin Tokarev (annulen)
	push = +force group user/Konstantin Tokarev (annulen)
	pushMerge = group user/Konstantin Tokarev (annulen)
	read = group user/Konstantin Tokarev (annulen)
[access "refs/tags/*"]
	push = group user/Konstantin Tokarev (annulen)
	push = +force group user/Konstantin Tokarev (annulen)
